.container_titulo{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 8rem;
    border: 0.2rem solid #00f;
    padding: 1rem;
    
}

.txt_titulo {
    color: #00f;
}